<!DOCTYPE html>
<html>
<head>
    <title>TodoList</title>
    <script src="./vue.js"></script>
</head>
<body>
    <div id="app">
        <input type="text" v-model= 'inputValue'>
        <button v-on:click='handleBtnClick'>提交</button>
        <ul>
            <!--<li v-for='item in list'>{{item}}</li>-->
            <todo-item v-bind:content='item' v-for='item in list'>
                
            </todo-item>
        </ul>
    </div>
    <script>

        /*Vue.component('TodoItem',{
            props:['content'],
            template:'<li>{{content}}</li>'
        })//全局组件的方法 */

        var TodoItem = {
            props:['content'],
            template:'<li>{{content}}</li>'
        } //局部组件

        var app = new Vue({
            el:'#app',
            conponents:{
                TodoItem:TodoItem
            },//在实例中注册
            data:{
                list:[],
                inputValue:''
            },
            methods:{
                handleBtnClick:function(){
                    this.list.push(this.inputValue)
                    this.inputValue = ''
                }


            }
        })
    </script>

</body>
</html>